@import url("./reset.css");
@import url("./font.css");

.container {
  width: 85%;
  margin: 0 auto;
}
h1,
h2 {
  font-family: "Roboto Slab", serif;
}

h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Roboto", sans-serif;
}
