@import url('../css/global/style.css');


.card{
    width: 30%;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;

}

h1{
    color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
padding-left: 2.3125rem;
padding-bottom: 6.9375rem;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7.5625rem;
    row-gap: 33px;
    column-gap: 30px;
}

.card-top img{
    width: 100%;
}

.card-top{
    width: 100%;
   
}

.card-bottom{
    /* height: 10.375rem; */
    padding-top: 10px;
}


h2{
    font-weight: 700;
    font-size: 1.875rem;
    padding-left: 20px;
    padding-top: 1.0375rem;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-left: 19px;
    padding-top: 1.775rem;

}

/* REVIEW SECTION START */
.review-section{
    padding-top: 5.6875rem;
    background: #EFEFEF;
}

.box{
    padding-left: 2.25rem;
    border-radius: 17.375px;
background: #FFF;
box-shadow: 0.57917px 0.57917px 11.58333px 0px rgba(0, 0, 0, 0.25);

}




.box p{
    max-width: 90%;
}


.box-bottom{
    display: flex;
    padding-top: 1.25rem;
}

.bottom-right{
    padding-left: 1.25rem;
}

.bottom-right img{
    padding-left: .925rem;
}
/* REVIEW SECTION END */

@media (max-width:830px) {
    .wrapper{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 80%;
    }
}