.course-details{
    background-color: #9DC9C8;;
    
}
.heading{
padding-left: 45px;
padding-top: 3.125rem;
font-weight: 700;
font-size: 55px;
}
.price{
    width: 10.625rem;
height: 2rem;
color: #000;

font-size: 1.5625rem;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 1.5841rem */
padding-left: 2.8125rem;
padding-top: 2.5rem;

}
.rubl{
    width: 30.0625rem;
    padding-bottom: 30px;
    color: #000;

font-size: 5rem;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 5.0693rem */

padding-left: 2.8125rem;
}
.four{
    display: flex;
    gap: 40px;
    padding: 2.8125rem;
    padding-top: 0rem;

}
.end{
    width: 18.375rem;
    height: 4.375rem;
}

    

.son{
    padding-bottom: 3.75rem;
}
@media (max-width:1281px){
    /*991-1281*/
    .heading{
        width: 525.883px;
        font-size: 32px;
        font-weight: 700;
    }
    .price{
        width: 98.458px;
        font-size: 14px;
        font-weight: 400;
    }
    .rubl{
        width: 278.579px;
        font-size: 46px;
        font-weight: 400;
    }
    h4{
        font-size: 14px;
        width: 170.275px;
    }
    .end{
        width: 170.275px;
        font-size: 10px;
    }
}
@media (max-width: 991px){
    /*768-991*/
    .heading{
        width: 224px;
        font-size: 26px;
    }
    .price{
        width: 79.215px;
        font-size: 12px;
}
    .rubl{
        width: 224.133px;
    font-size: 37px;
    
}
h4{
    width: 136.996px;
    font-size: 12px;
}
.end{
    width: 138px;
    font-size: 10px;
}
}
@media (max-width: 768px){
    /* planset */

}