@import url("../css/global/font.css");
.features{
    margin-bottom: 15.5rem;
}
.features ul{
    list-style: disc;
    width: 36.375rem;
    height: 23.375rem;
    color: #000;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */
    margin-left: 1.0625rem;
}
.features h2{
    width: 41.6875rem;
    height: 5.8125rem;
    color: #000;
    font-size: 3.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 101.385%; /* 3.4851rem */
    margin: 0 0 .76rem;
}
@media screen and (min-width: 991px) and (max-width: 1281px){
    .features{
        margin-bottom: 8.9769rem;
    }
    .features ul{
        width: 33.963rem;
        height: 13.538rem;
        font-size: 1.375rem;
        margin-left: 1.0625rem;
    }
    .features h2{
        width: 24.144rem;
        height: 3.29168rem;
        font-size: 3.125rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .features{
        margin-bottom: 8.4375rem;
    }
    .features ul{
        width: 31.6875rem;
        height: 10.875rem;
        font-size: 1.25rem;
        margin-left: .6156rem;
    }
    .features h2{
        width: 19.4252rem;
        height: 3.14586rem;
        font-size: 2.75rem;
    }
}
@media screen and (min-width: 430px) and (max-width: 768px){
    .features{
        margin-bottom: 7.1875rem;
    }
    .features ul{
        width: 26.6875rem;
        height: 10.875rem;
        font-size: 1.0625rem;
        margin-left: .6156rem;
    }
    .features h2{
        width: 19.4252rem;
        height: 3rem;
        font-size: 2.375rem;
    }
}
@media screen and (min-width: 375px) and (max-width: 430px){
    .features{
        margin-bottom: 5.9375rem;
    }
    .features ul{
        width: 21.6875rem;
        height: 10.875rem;
        font-size: .875rem;
        margin-left: .5rem;
    }
    .features h2{
        width: 19.4252rem;
        height: 2.85422rem;
        font-size: 2rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 375px){
    .features{
        margin-bottom: 5.3125rem;
    }
    .features ul{
        width: 18.6875rem;
        height: 10.875rem;
        font-size: .75rem;
        margin-left: .5rem;
    }
    .features h2{
        width: 19.4252rem;
        height: 2.7084rem;
        font-size: 1.625rem;
    }
}