.footer {
  background-color: #000;
}
.footer .container {
  margin: 0;
  width: 100%;
}
.footer .wrapper {
  padding: 0 9.125rem 0 7.625rem;
  height: 24.375rem;
}
.footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer p {
  width: 15.625rem;
  height: 2.5rem;
  color: #fff;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 101.385%; /* 1.1406rem */
}
.footer .logo {
  width: 7.1875rem;
  height: 4.25rem;
  padding: 3.125rem 0 1.875rem;
}
.footer li img {
  color: white;
  width: 1.875rem;
  height: 1.875rem;
}
.footer ul {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding-bottom: 9.125rem;
}
.footer .right {
  padding-top: 3.4375rem;
}
.footer .right img {
  color: white;
  padding-bottom: 1.5625rem;
}
.footer .right ul {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.footer .right div {
  display: flex;
  flex-direction: row;
}
.footer .mobile {
  padding-bottom: 1.5625rem;
  padding-top: 3.75rem;
  display: flex;
  flex-direction: row;
}
.footer .right p {
  padding-top: 0.625rem;
  padding-left: 0.625rem;
  width: 14.375rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 991px) and (max-width: 1281px) {
  .footer .wrapper {
    padding: 0 6.875rem 0 5.625rem;
    height: 21.875rem;
  }
  .footer p {
    width: 14.0625rem;
    height: 1.3125rem;
    font-size: 1.25rem;
  }
  .footer .logo {
    width: 6.0625rem;
    height: 3.75rem;
    padding: 2.1875rem 0 1.1875rem;
  }
  .footer .logo img {
    width: 6.0625rem;
    height: 3.75rem;
  }
  .footer li img {
    width: 1.6875rem;
    height: 1.6875rem;
  }
  .footer ul {
    gap: 0.625rem;
    padding-bottom: 0;
  }
  .footer .left {
    padding-bottom: 10rem;
  }
  .footer .right {
    padding-top: 2.1875rem;
  }
  .footer .right img {
    padding-bottom: 0.75rem;
  }
  .footer .right p {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    width: 13.125rem;
    font-size: 1.375rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer .wrapper {
    padding: 0 5.3125rem 0 4.4375rem;
    height: 18.75rem;
  }
  .footer p {
    width: 11.25rem;
    height: 1.3125rem;
    font-size: 1rem;
  }
  .footer .logo {
    width: 4.8125rem;
    height: 3.125rem;
    padding: 2.1875rem 0 1.1875rem;
  }
  .footer .logo img {
    width: 4.8125rem;
    height: 3.125rem;
  }
  .footer li img {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .footer ul {
    gap: 0.625rem;
    padding-bottom: 0;
  }
  .footer .left {
    padding-bottom: 7.5rem;
  }
  .footer .right {
    padding-top: 2.1875rem;
  }
  .footer .right img {
    padding-bottom: 0.75rem;
  }
  .footer .right p {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    width: 11.875rem;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 430px) and (max-width: 768px) {
  .footer .wrapper {
    padding: 0 5rem 0 4.0625rem;
    height: 14.0625rem;
  }
  .footer p {
    width: 10rem;
    height: 1.3125rem;
    font-size: 0.875rem;
  }
  .footer .logo {
    width: 3.75rem;
    height: 2.3125rem;
    padding: 1.875rem 0 1.1875rem;
  }
  .footer .logo img {
    width: 3.75rem;
    height: 2.3125rem;
  }
  .footer li img {
    width: 1.0313rem;
    height: 1.0313rem;
  }
  .footer ul {
    gap: 0.625rem;
    padding-bottom: 0;
  }
  .footer .left {
    padding-bottom: 5.625rem;
  }
  .footer .right {
    padding-top: 1.875rem;
  }
  .footer .right img {
    padding-bottom: 0.6094rem;
  }
  .footer .right p {
    padding-top: 0.24rem;
    width: 9.5625rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .footer .wrapper {
    padding-left: 3.5625rem;
    height: 15.6875rem;
  }
  .footer .content {
    flex-direction: column;
    justify-content: left;
  }
  .footer p {
    width: 8.4375rem;
    height: 1.3125rem;
    font-size: 0.75rem;
  }
  .footer .logo {
    width: 3.4375rem;
    height: 2.0625rem;
    padding: 1.4563rem 0 1.0313rem;
  }
  .footer .logo img {
    width: 3.4375rem;
    height: 2.0625rem;
  }
  .footer li img {
    width: 0.875rem;
    height: 0.875rem;
  }
  .footer ul {
    gap: 0.625rem;
    padding-bottom: 0;
  }
  .footer .right {
    padding: 2.9688rem 0 2.1875rem;
  }
  .footer .right img {
    padding-bottom: 0.6094rem;
  }
  .footer .right p {
    padding-top: 0.24rem;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .footer .wrapper {
    padding-left: 3.125rem;
    height: 15.6875rem;
  }
  .footer .content {
    flex-direction: column;
    justify-content: left;
  }
  .footer p {
    width: 7.8342rem;
    height: 1.1649rem;
    font-size: 0.625rem;
  }
  .footer .logo {
    width: 3.3492rem;
    height: 1.9804rem;
    padding: 1.4563rem 0 0.875rem;
  }
  .footer .logo img {
    width: 3.3492rem;
    height: 1.9804rem;
  }
  .footer li img {
    width: 0.7863rem;
    height: 0.7863rem;
  }
  .footer ul {
    gap: 0.625rem;
    padding-bottom: 0;
  }
  .footer .right {
    padding: 3.125rem 0 2.5rem;
  }
  .footer .right img {
    padding-bottom: 0.6094rem;
  }
  .footer .right p {
    padding-top: 0.24rem;
    font-size: 0.75rem;
  }
}
