.footer{
    background-color: #000;
    
}
.social-list li i{
    color: white;
    font-size: 20px;
}
h1{
    width: 56.75rem;
height: 4.125rem;
color: #000;
font-size: 3.4375rem;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 3.4851rem */
padding-top: 5rem;
padding-left: 2.8125rem;
padding-bottom: 2.5rem;
}
.two{
    width: 10.625rem;
height: 2rem;
color: #000;

font-size: 1.5625rem;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 1.5841rem */
padding-left: 2.8125rem;;

}
.three{
    width: 30.0625rem;
    height: 11.3125rem;
    color: #000;

font-size: 5rem;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 5.0693rem */
padding-bottom: px;
padding-left: 2.8125rem;
}
.four{
    display: flex;
    padding: 2.8125rem;

}
.end{
    width: 18.375rem;
    height: 4.375rem;
}
@media screen () {
    
}

