.footer{
    background-color: #000;
    
}
.footer .container{
    margin: 0;
    width: 100%;
}
.footer .wrapper{
    padding: 0 9.125rem 0 7.625rem;
}
.footer .content{
    height: 24.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer p{
    width: 14.375rem;
    height: 2.5rem;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 101.385%; /* 1.1406rem */
}
.footer .logo{
    width: 7.1875rem;
    height: 4.25rem;
    padding: 3.125rem 0 1.875rem;
}
.footer li i{
    color: white;
    font-size: 1.25rem;
}
.footer ul{
    display: flex;
    flex-direction: row;
    gap: 1.5625rem;
    padding-bottom: 9.125rem;
}
.footer .right i{
    width: 1.6875rem;
    height: 1.6875rem;
    color: white;
    font-size: 1.25rem;
}
.footer .right{
    /* padding: 3.75rem 9.125rem 15.5rem 41rem; */
}
.footer .mobile{
    padding-bottom: 1.5625rem;
    padding-top: 3.75rem;
    display: flex;
    flex-direction: row;
}
.footer .mail{
    display: flex;
    flex-direction: row;
}
.footer .icon{
    width: 2.1875rem;
    height: 2.1875rem;
}