@import url("../css/global/style.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.course-program .course-program-top {
  display: flex;
  gap: 40px;
}
.course-program .box {
  display: flex;
  gap: 5px;
  align-items: center;
}
.course-program i {
}
.course-program .box span {
  font-size: 14px;
}
.course-program-bottom {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

/* talet  992px-dən 1279px- */
.header .wrapper {
  padding: 22px 0;
}
/* Desktop 1280px-dən çox*/
@media screen and (min-width: 1281px) {
}
/* mobile smartfon - ekran ölçüsü 320px-dən 991px-ə qədər.*/
@media screen and (min-width: 320px) and (max-width: 991px) {
}
