@import url("../css/global/style.css");
/* tablet  992px-dən 1279px- */
.header .wrapper {
  padding: 22px 0;
}

.course-program {
  margin-top: 3.125rem;
}

.course-program .course-program-top {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
.course-program .box {
  display: flex;
  gap: 5px;
  align-items: center;
}

.course-program .box span {
  font-size: 14px;
}
.course-program .wrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.program-content {
  width: 80%;
}
.program-content h1 {
  font-size: 46px;
  max-width: 364px;
  font-weight: 700;
}
.program-content p {
  font-size: 12px;
  max-width: 16.5rem;
  line-height: 150%;
  margin-top: 10px;
}
.note-section {
  margin-top: 50px;
  padding-bottom: 4.6875rem;
}
.note-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.note-wrapper {
  padding: 40px 30px;
  border-radius: 2.896px;
  background: #1e4681;
}
.note-text #text {
  max-width: 300px;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
#author {
  color: #fff;
  display: flex;
  justify-content: end;
  font-size: 12px;
  font-weight: 400;
}
/* Desktop 1280px-dən çox*/
@media screen and (max-width: 1279px) and (min-width: 992px) {
}
/* mobile smartfon - ekran ölçüsü 320px-dən 991px-ə qədər.*/
@media screen and (max-width: 991px) and (min-width: 320px) {
  .course-program .wrapper {
    flex-direction: column;
  }
}
