@import url("../css/global/style.css");
/* tablet  992px-dən 1279px- */

.header .wrapper {
  padding: 22px 0;
}

.course-program {
  margin-top: 3.125rem;
}

.course-program .course-program-top {
  display: flex;
  gap: 40px;
  margin-bottom: 27px;
}
.course-program .course-program-top i {
  font-size: 16px;
}
.course-program .box {
  display: flex;
  gap: 5px;
  align-items: center;
}

.course-program .box span {
  font-size: 14px;
}
.course-program .wrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.program-content {
  width: 80%;
}
.program-content h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
  max-width: 463.717px;
}
.program-content p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 25.875rem;
  padding: 14px 0;
}
.program-content .program-image img {
  width: 205px !important;
  height: 276px !important;
}
.note-section {
  margin-top: 50px;
  padding-bottom: 4.6875rem;
}
.note-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.note-wrapper {
  padding: 40px 30px;
  border-radius: 2.896px;
  background: #1e4681;
}
.note-text #text {
  max-width: 484px;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
#author {
  color: #fff;
  padding-top: 10px;
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 360px) and (max-width: 601px) {
  /* mobile ---figma*/
  .header .wrapper {
    padding-top: 36px;
  }
  .header .container,
  .course-program .container {
    width: 85%;
  }
  .logo img {
    width: 52.189px;
    height: 30.754px;
  }
  .course-program {
    margin-top: 1.8rem;
  }
  .course-program .wrapper {
    width: 100%;
  }
  .course-program .course-program-top {
    gap: 20px;
    margin-bottom: 17px;
  }
  .course-program .course-program-top i {
    font-size: 12px;
  }
  .program-content h1 {
    font-size: 37px;
  }
  .program-content p {
    font-size: 10px;
  }

  .course-program .box span {
    font-size: 10px;
  }
  .course-program .wrapper {
    flex-direction: column;
  }

  .program-image {
    display: flex;
    justify-content: flex-end !important;
  }
  .program-image img {
    width: 141.656px;
    height: 165.886px;
  }
  .note-wrapper {
    padding: 9px 12px 18px;
  }
  .note-text #text {
    max-width: 201px;
    font-size: 11px;
  }
  #author {
    font-size: 10px;
  }
}

@media screen and (min-width: 602px) and (max-width: 991px) {
  /*planset --- figmadaki olcuye uygun*/
  .header .container,
  .course-program .container {
    width: 85%;
  }
  .logo img {
    width: 64.867px;
    height: 38.225px;
  }
  .course-program {
    margin-top: 1.8rem;
  }
  .course-program .wrapper {
    width: 100%;
  }
  .course-program .course-program-top {
    gap: 20px;
    margin-bottom: 17px;
  }
  .course-program .course-program-top i {
    font-size: 13px;
  }
  .program-content h1 {
    width: 363.717px;
    font-size: 46px;
  }
  .program-content p {
    max-width: 264px;
    font-size: 12px;
  }

  .course-program .box span {
    font-size: 11px;
  }

  .program-image img {
    width: 176.067px;
    height: 206.183px;
  }
  .note-wrapper {
    padding: 12px 22px 20px;
  }
  .note-text #text {
    max-width: 235px;
    font-size: 14px;
  }
  #author {
    font-size: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  /* menim komp buna uygun ozumden edecem*/
}

/* Desktop 1280px-dən çox --figmadaki*/
@media screen and (min-width: 1280px) {
}
